<div class="c-screen u-pad-h-md container__row--v-center u-dis-flex u-mar-b-md">
  <div class="container container__row--v-center flex-column-tablet  u-transition-in">
    <div class="col-7@md col-12 container container__column u-t-cen u-pad-v-md">
      <h1 class="u-word-break"><%= @article.title %></h1>
     </div>
  </div>
</div>