<%= render partial: "shared/page-introduction", locals: { text: "Update Article", backgroundImage: "slash.jpg" } %>

<div class="container">
  <%= render partial: 'articles/partials/form' %>

  <%= link_to 'Cancel Edit Return to articles', articles_path%>
</div>