<div class="container">
  <h1>All Articles</h1>

  <div class="c-pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <div class="container container__row u-mar-v-md">
    <% @articles.each do | article | %>
    <%= render partial: "articles/partials/project-link", locals: { article: article }%>
    <% end %>
  </div>
  <% if logged_in? && current_user.is_admin == true %>
    <%= link_to 'Create', new_article_path, class: "c-btn" %>
  <% end %>
</div>