<div class="container">
  <h1 class="h3">Create a new Article</h1>

  <div class="u-center col-12 col-10@md ">
    <%= render partial: 'articles/partials/form' %>
  </div>

  <%= link_to 'Return to articles', articles_path %>
</div>