
<%= render partial: "shared/page-introduction", locals: { text: "Create a new Article", backgroundImage: "slash.jpg" } %>
<div class="container">
  <div class="u-center col-12 col-10@md ">
    <%= render partial: 'articles/partials/form' %>
  </div>

  <%= link_to 'Return to articles', articles_path %>
</div>