<%= render partial: "shared/page-introduction", locals: { text: "Sign Up", backgroundImage: "slash.jpg" } %>
<div class="container">
  <div class="col-6@md col-12 u-center u-bor-primary">
    <%= render partial: "users/partials/form" %>
  </div>
</div>