<div>
  <div class="c-screen c-screen--intro-page u-pad-h-md container__row--v-center u-dis-flex u-pad-v-md u-mar-b-md" id="home">
    <div class="container container__row--v-center flex-column-tablet  u-transition-in">
      <div class="col-5@lg col-12 u-mar-r-md@md u-pad-v-md">
        <div class="c-profile-pic"></div>
      </div>
      <div class="col-7@md col-12 container container__column">
        <h1>Ian K Duffy</h1>
        <p class="h2">A Showcase of Ruby on Rails projects.</p>
        <div class="container__row u-mar-v-md">
          <a class="c-btn col-5 u-mar-r-md u-stretch" href="https://www.iankduffy.com" target="_blank" rel="noopener">My Portfolio</a>
          <a class="c-btn col-5 u-mar-r-md u-stretch" href="https://github.com/iankduffy" target="_blank" rel="noopener">My Github</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="container__row container--space-between">
      <div class="col-12 col-8@md u-pad-r-lg">
        <h2>About this site</h2>
        <p>I have built this site as a showcase of my ruby on rails projects as apart of my main website. With the aim to improve my skills, build various projects and showcase my skills with a bit of an explanation on how they are built. </p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      </div>
      <div class="c-author u-bor-primary u-pad-v-md u-pad-h-md col-11 col-4@md">
        <p>Dolor amet elit tempor ut incididunt labore consequat tempor id laboris elit eiusmod nulla ipsum.</p>
        <p>Dolor amet elit tempor ut incididunt labore consequat tempor id laboris elit eiusmod nulla ipsum.</p>
        <a class="c-btn u-mar-r-md u-stretch col-12" href="https://github.com/iankduffy" target="_blank" rel="noopener">This Github Repo</a>
      </div>
    </section>

    <section class="u-pad-v-lg">
      <h2>Projects</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      <div class="container__row u-mar-v-md">
        <% @articles.each do |article| %>
          <%= render partial: "articles/partials/project-link", locals: { article: article } %>
        <% end %>
      </div>
      <div class="container__row">
        <%= link_to 'Articles Page', articles_path, class: "c-btn--pri c-btn u-center col-12 col-4@md"%>
      </div>
    </section>
  </div>
</div>
