<div class="c-screen c-screen--intro-page u-pad-h-md container__row--v-center u-dis-flex">
  <div class="container  flex-column-tablet u-transition-in">
    <h1>Ruby on Rails Projects</h1>
    <p class="h2">A example of multiple ruby on rails projects</p>
  </div>
</div>

<%= link_to 'Articles Page', articles_path%> |
<%= link_to 'About Page', about_path%> |

