<%= render partial: "shared/page-introduction", locals: { text: "New Category", backgroundImage: "slash.jpg" } %>
<div class="container">
  <div class="col-6@md col-12 u-center u-bor-primary">
    <%= render partial: "categories/partials/form" %>
  </div>
</div>